<AuthorizeView>
    <Authorized>
          <li class="govuk-header__navigation-item nidirect-header__navigation-item">
              <a class="govuk-header__link"  href="MicrosoftIdentity/Account/EditProfile">
                      Hello @context.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value    
              </a>
           </li>
                 <li class="govuk-header__navigation-item nidirect-header__navigation-item">
              <a class="govuk-header__link"  href="MicrosoftIdentity/Account/SignOut">Log Out</a>
           </li>
    </Authorized>

    <NotAuthorized>
          <li class="govuk-header__navigation-item nidirect-header__navigation-item">
               <a  class="govuk-header__link" href="MicrosoftIdentity/Account/Signin">Log in</a>
           </li>
    </NotAuthorized>
</AuthorizeView>